{
  "extends": "rallycoding",
  "rules": {
    "global-require": "off",
    "arrow-body-style": ["warn", "as-needed"],
    "no-mixed-operators": "off",
    "radix": "off",
    "no-underscore-dangle": "off"
  },
  "globals": {
    "navigator": true
  }
}
